<div class="new-post-container">
    <form [formGroup]="editPostForm" (ngSubmit)="editPost(editPostForm.value)">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput placeholder="Titulo de la Publicacion" formControlName="titlePost">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Content</mat-label>
            <input matInput placeholder="Contenido de la Publicacion" formControlName="contentPost">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Tags" multiple formControlName="tagsPost">
                <mat-option value="life">Life</mat-option>
                <mat-option value="sport">Sport</mat-option>
                <mat-option value="beauty">Beauty</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="container-input-file">
            <label class="custom-file">
                <input type="file" formControlName="imagePost" (change)="handleImage($event)">
                <mat-icon>cloud_upload</mat-icon><span>ELIGE UNA IMAGEN</span>
            </label>
        </div>
        <div class="container-button">
            <input type="submit" value="Guardar" [mat-dialog-close]="true" class="mat-flat-button">
        </div>
    </form>
</div>