<mat-toolbar color="primary">
    <a routerLink="/" >{{appName}}</a>
    <span class="fill-remaining-space"></span>
    
    <a routerLink="/admin" routerLinkActive="active"
    *ngIf="authService.userData$ | async">
        <button mat-button >Admin</button>
    </a>
    
    <a routerLink="/about" routerLinkActive="active">
        <button mat-button >About</button>
    </a>

    <a *ngIf="authService.userData$ | async; else showlogin" (click)="signOut()">
        <button mat-button >Logout</button>
    </a>
    <ng-template #showlogin>
    <a routerLink="/login" routerLinkActive="active">
        <button mat-button >Login</button>
    </a>
</ng-template>
</mat-toolbar>
