<mat-card-header>
    <mat-card-title>
        <a [routerLink]="['/post',post.id]">
            {{post.titlePost}}
        </a>
    </mat-card-title>
</mat-card-header>
<img matCardImage [src]="post.imagePost">
<mat-card-content>
    <p class="content">
        {{post.contentPost}}
    </p>
</mat-card-content>
{{post.tagsPost }}
<mat-divider></mat-divider>
<mat-card-actions>
    <mat-chip-list>
        <mat-chip  *ngFor="let tag of post.tagsPost" [ngClass]="tag">{{tag}}</mat-chip>
        <!-- Con la etiqueta ngClass Asignamos una clase con el nombre del tag -->
    </mat-chip-list>
</mat-card-actions>