<div class="container" *ngIf="post$ | async as posts; else loading">
    <!-- Condicion que dice cuando exista post$ se muestre, caso contrario mostrar el template loading -->
    <mat-card class="post-card" *ngFor="let post of posts">
        <app-post [post]="post"></app-post>
    </mat-card>
</div>
<ng-template #loading>
    <!-- El ng-template nos sirve para tener codigo que se ejecutara en caso se de una condicion -->
    <div class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>