<div class="container" *ngIf="post$ | async as posts; else loading">
    <!-- Condicion que dice cuando exista post$ se muestre, caso contrario mostrar el template loading -->
    <mat-card class="post-card" *ngFor="let post of posts">
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/post',post.id]">
                    {{post.titlePost}}
                </a>
            </mat-card-title>
        </mat-card-header>
        <img matCardImage [src]="post.imagePost">
        <mat-card-content>
            <p>
                {{post.contentPost}}
            </p>
        </mat-card-content>
        {{post.tagsPost }}
        <mat-divider></mat-divider>
        <mat-card-actions>
            <mat-chip-list>
                <mat-chip  *ngFor="let tag of post.tagsPost" [ngClass]="tag">{{tag}}</mat-chip>
                <!-- Con la etiqueta ngClass Asignamos una clase con el nombre del tag -->
            </mat-chip-list>
        </mat-card-actions>
    </mat-card>
</div>
<ng-template #loading>
    <!-- El ng-template nos sirve para tener codigo que se ejecutara en caso se de una condicion -->
    <div class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>